# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ Related
*.iml
*.ipr
*.iws
.idea/

# The Directory-Based Project Format
.idea/workspace.xml
.idea/tasks.xml
.idea/assets.xml
.idea/compiler.xml
.idea/modules.xml
.idea/dictionaries
.idea/libraries

# Android Studio template files
android/key.properties
android/*.jks
android/*.keystore

# Visual Studio Code Related
.vscode/

# Flutter/Dart Related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web Related
.web/

# Symbol database lookup files
tombstones/

# Coverage
doc/api/
ios/Flutter/ephemeral/
android/app/src/main/assets/flutter_assets/
